In [2]:
import pandas as pd
import numpy as np
import requests
import json

In [3]:
from bs4 import BeautifulSoup

In [4]:
import requests

url = "https://travel-advisor.p.rapidapi.com/locations/v2/auto-complete"

querystring = {"query":"eiffel tower","lang":"en_US","units":"km"}

headers = {
	"X-RapidAPI-Key": "8f09822ed3mshe215f9a564640e9p19135djsndbcee712205b",
	"X-RapidAPI-Host": "travel-advisor.p.rapidapi.com"
}

response = requests.request("GET", url, headers=headers, params=querystring)

print(response.text)

{
  "data" : {
    "Typeahead_autocomplete" : {
      "__typename" : "Typeahead_Response",
      "resultsId" : "c3cb8f3d-0cb3-4e2e-b949-31150b4b80af_f2becb21-bff0-4d1b-ab80-652742e7146c",
      "results" : [ {
        "__typename" : "Typeahead_LocationItem",
        "documentId" : "188151",
        "detailsV2" : {
          "__typename" : "LocationSelection_LocationInformationV2",
          "locationId" : 188151,
          "isGeo" : false,
          "placeType" : "ATTRACTION",
          "names" : {
            "__typename" : "LocationSelection_LocationNames",
            "name" : "Eiffel Tower",
            "longOnlyHierarchyTypeaheadV2" : "Paris, Ile-de-France, France"
          },
          "geocode" : {
            "__typename" : "LocationSelection_LocationInformationV2Geocode",
            "latitude" : 48.858353,
            "longitude" : 2.294464
          },
          "contact" : {
            "__typename" : "LocationSelection_LocationInformationV2Contact",
            "streetAddress" : {
              "__typename" : "LocationSelection_Address",
              "street1" : "5 Avenue"
            }
          },
          "route" : null
        },
        "details" : {
          "__typename" : "LocationInformation",
          "socialStatistics" : {
            "__typename" : "SocialStatistics",
            "isSaved" : false
          }
        },
        "image" : {
          "__typename" : "PrimaryMedia_PrimaryMedia",
          "photo" : {
            "__typename" : "Photo",
            "photoSizeDynamic" : {
              "__typename" : "PhotoSizeDynamic",
              "maxHeight" : 1744,
              "maxWidth" : 1172,
              "urlTemplate" : "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1a/9e/7f/9d/eiffeltoren.jpg?w={width}&h={height}&s=1"
            },
            "photoSizes" : [ {
              "__typename" : "PhotoSize",
              "height" : 0,
              "width" : 0,
              "url" : "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1a/9e/7f/9d/eiffeltoren.jpg?w=100&h=100&s=1"
            }, {
              "__typename" : "PhotoSize",
              "height" : 50,
              "width" : 50,
              "url" : "https://media-cdn.tripadvisor.com/media/photo-t/1a/9e/7f/9d/eiffeltoren.jpg"
            }, {
              "__typename" : "PhotoSize",
              "height" : 205,
              "width" : 138,
              "url" : "https://media-cdn.tripadvisor.com/media/photo-f/1a/9e/7f/9d/eiffeltoren.jpg"
            }, {
              "__typename" : "PhotoSize",
              "height" : 150,
              "width" : 150,
              "url" : "https://media-cdn.tripadvisor.com/media/photo-l/1a/9e/7f/9d/eiffeltoren.jpg"
            }, {
              "__typename" : "PhotoSize",
              "height" : 200,
              "width" : 180,
              "url" : "https://media-cdn.tripadvisor.com/media/photo-i/1a/9e/7f/9d/eiffeltoren.jpg"
            }, {
              "__typename" : "PhotoSize",
              "height" : 450,
              "width" : 302,
              "url" : "https://media-cdn.tripadvisor.com/media/photo-s/1a/9e/7f/9d/eiffeltoren.jpg"
            }, {
              "__typename" : "PhotoSize",
              "height" : 818,
              "width" : 550,
              "url" : "https://media-cdn.tripadvisor.com/media/photo-p/1a/9e/7f/9d/eiffeltoren.jpg"
            }, {
              "__typename" : "PhotoSize",
              "height" : 1280,
              "width" : 860,
              "url" : "https://media-cdn.tripadvisor.com/media/photo-m/1280/1a/9e/7f/9d/eiffeltoren.jpg"
            }, {
              "__typename" : "PhotoSize",
              "height" : 1524,
              "width" : 1024,
              "url" : "https://media-cdn.tripadvisor.com/media/photo-w/1a/9e/7f/9d/eiffeltoren.jpg"
            } ]
          }
        }
      }, {
        "__typename" : "Typeahead_LocationItem",
        "documentId" : "422627",
        "detailsV2" : {
          "__typename" : "LocationSelection_LocationInformationV2",
          "locationId" : 422627,
          "isGeo" : false,
          "placeType" : "EATERY",
          "names" : {
            "__typename" : "LocationSelection_LocationNames",
            "name" : "Eiffel Tower Restaurant at Paris Las Vegas",
            "longOnlyHierarchyTypeaheadV2" : "Las Vegas, Nevada"
          },
          "geocode" : {
            "__typename" : "LocationSelection_LocationInformationV2Geocode",
            "latitude" : 36.112453,
            "longitude" : -115.17224
          },
          "contact" : {
            "__typename" : "LocationSelection_LocationInformationV2Contact",
            "streetAddress" : {
              "__typename" : "LocationSelection_Address",
              "street1" : "3655 Las Vegas Blvd S"
            }
          },
          "route" : null
        },
        "details" : {
          "__typename" : "LocationInformation",
          "socialStatistics" : {
            "__typename" : "SocialStatistics",
            "isSaved" : false
          }
        },
        "image" : {
          "__typename" : "PrimaryMedia_PrimaryMedia",
          "photo" : {
            "__typename" : "Photo",
            "photoSizeDynamic" : {
              "__typename" : "PhotoSizeDynamic",
              "maxHeight" : 1200,
              "maxWidth" : 2000,
              "urlTemplate" : "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/02/e2/e3/34/eiffel-tower-restaurant.jpg?w={width}&h={height}&s=1"
            },
            "photoSizes" : [ {
              "__typename" : "PhotoSize",
              "height" : 0,
              "width" : 0,
              "url" : "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/02/e2/e3/34/eiffel-tower-restaurant.jpg?w=100&h=100&s=1"
            }, {
              "__typename" : "PhotoSize",
              "height" : 50,
              "width" : 50,
              "url" : "https://media-cdn.tripadvisor.com/media/photo-t/02/e2/e3/34/eiffel-tower-restaurant.jpg"
            }, {
              "__typename" : "PhotoSize",
              "height" : 150,
              "width" : 150,
              "url" : "https://media-cdn.tripadvisor.com/media/photo-l/02/e2/e3/34/eiffel-tower-restaurant.jpg"
            }, {
              "__typename" : "PhotoSize",
              "height" : 150,
              "width" : 250,
              "url" : "https://media-cdn.tripadvisor.com/media/photo-f/02/e2/e3/34/eiffel-tower-restaurant.jpg"
            }, {
              "__typename" : "PhotoSize",
              "height" : 330,
              "width" : 550,
              "url" : "https://media-cdn.tripadvisor.com/media/photo-s/02/e2/e3/34/eiffel-tower-restaurant.jpg"
            }, {
              "__typename" : "PhotoSize",
              "height" : 614,
              "width" : 1024,
              "url" : "https://media-cdn.tripadvisor.com/media/photo-w/02/e2/e3/34/eiffel-tower-restaurant.jpg"
            }, {
              "__typename" : "PhotoSize",
              "height" : 1200,
              "width" : 2000,
              "url" : "https://media-cdn.tripadvisor.com/media/photo-o/02/e2/e3/34/eiffel-tower-restaurant.jpg"
            } ]
          }
        }
      }, {
        "__typename" : "Typeahead_LocationItem",
        "documentId" : "127002",
        "detailsV2" : {
          "__typename" : "LocationSelection_LocationInformationV2",
          "locationId" : 127002,
          "isGeo" : false,
          "placeType" : "ATTRACTION",
          "names" : {
            "__typename" : "LocationSelection_LocationNames",
            "name" : "Eiffel Tower Viewing Deck",
            "longOnlyHierarchyTypeaheadV2" : "Las Vegas, Nevada"
          },
          "geocode" : {
            "__typename" : "LocationSelection_LocationInformationV2Geocode",
            "latitude" : 36.11251,
            "longitude" : -115.17236
          },
          "contact" : {
            "__typename" : "LocationSelection_LocationInformationV2Contact",
            "streetAddress" : {
              "__typename" : "LocationSelection_Address",
              "street1" : "3655 Las Vegas Blvd. South"
            }
          },
          "route" : null
        },
        "details" : {
          "__typename" : "LocationInformation",
          "socialStatistics" : {
            "__typename" : "SocialStatistics",
            "isSaved" : false
          }
        },
        "image" : {
          "__typename" : "PrimaryMedia_PrimaryMedia",
          "photo" : {
            "__typename" : "Photo",
            "photoSizeDynamic" : {
              "__typename" : "PhotoSizeDynamic",
              "maxHeight" : 1994,
              "maxWidth" : 2999,
              "urlTemplate" : "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/14/cc/9a/99/eiffel-tower-experience.jpg?w={width}&h={height}&s=1"
            },
            "photoSizes" : [ {
              "__typename" : "PhotoSize",
              "height" : 0,
              "width" : 0,
              "url" : "https://dynamic-media-cdn.tripadvisor.com/media/photo-o/14/cc/9a/99/eiffel-tower-experience.jpg?w=100&h=100&s=1"
            }, {
              "__typename" : "PhotoSize",
              "height" : 50,
              "width" : 50,
              "url" : "https://media-cdn.tripadvisor.com/media/photo-t/14/cc/9a/99/eiffel-tower-experience.jpg"
            }, {
              "__typename" : "PhotoSize",
              "height" : 150,
              "width" : 150,
              "url" : "https://media-cdn.tripadvisor.com/media/photo-l/14/cc/9a/99/eiffel-tower-experience.jpg"
            }, {
              "__typename" : "PhotoSize",
              "height" : 200,
              "width" : 180,
              "url" : "https://media-cdn.tripadvisor.com/media/photo-i/14/cc/9a/99/eiffel-tower-experience.jpg"
            }, {
              "__typename" : "PhotoSize",
              "height" : 166,
              "width" : 250,
              "url" : "https://media-cdn.tripadvisor.com/media/photo-f/14/cc/9a/99/eiffel-tower-experience.jpg"
            }, {
              "__typename" : "PhotoSize",
              "height" : 366,
              "width" : 550,
              "url" : "https://media-cdn.tripadvisor.com/media/photo-s/14/cc/9a/99/eiffel-tower-experience.jpg"
            }, {
              "__typename" : "PhotoSize",
              "height" : 681,
              "width" : 1024,
              "url" : "https://media-cdn.tripadvisor.com/media/photo-w/14/cc/9a/99/eiffel-tower-experience.jpg"
            }, {
              "__typename" : "PhotoSize",
              "height" : 851,
              "width" : 1280,
              "url" : "https://media-cdn.tripadvisor.com/media/photo-m/1280/14/cc/9a/99/eiffel-tower-experience.jpg"
            } ]
          }
        }
      }, {
        "__typename" : "Typeahead_QuerySuggestionItem",
        "documentId" : "2b9efe9c5ff8310401070297154479b90",
        "suggestionType" : "template",
        "buCategory" : "ATTRACTIONS",
        "text" : "eiffel tower tours and tickets paris",
        "parentGeoDetails" : {
          "__typename" : "LocationSelection_LocationInformationV2",
          "names" : {
            "__typename" : "LocationSelection_LocationNames",
            "longOnlyHierarchyTypeaheadV2" : "Ile-de-France, France"
          }
        },
        "route" : {
          "__typename" : "Routing_Route",
          "fragment" : null,
          "page" : "AttractionProductsFusion",
          "url" : "/Attraction_Products-g187147-d188151-Eiffel_Tower-Paris_Ile_de_France.html",
          "nonCanonicalUrl" : "/Attraction_Products-g187147-d188151-Eiffel_Tower-Paris_Ile_de_France.html?contentType=attraction_product&webVariant=AttractionProductsFusion",
          "typedParams" : {
            "__typename" : "Routing_AttractionProductsFusionParameters"
          }
        },
        "scopeType" : "GEO"
      }, {
        "__typename" : "Typeahead_QuerySuggestionItem",
        "documentId" : "d5b515c99b215bae8a302a8c95a5606a0",
        "suggestionType" : "template",
        "buCategory" : "ATTRACTIONS",
        "text" : "eiffel tower viewing deck tours and tickets las vegas",
        "parentGeoDetails" : {
          "__typename" : "LocationSelection_LocationInformationV2",
          "names" : {
            "__typename" : "LocationSelection_LocationNames",
            "longOnlyHierarchyTypeaheadV2" : "Nevada, United States"
          }
        },
        "route" : {
          "__typename" : "Routing_Route",
          "fragment" : null,
          "page" : "AttractionProductsFusion",
          "url" : "/Attraction_Products-g45963-d127002-Eiffel_Tower_Viewing_Deck-Las_Vegas_Nevada.html",
          "nonCanonicalUrl" : "/Attraction_Products-g45963-d127002-Eiffel_Tower_Viewing_Deck-Las_Vegas_Nevada.html?contentType=attraction_product&webVariant=AttractionProductsFusion",
          "typedParams" : {
            "__typename" : "Routing_AttractionProductsFusionParameters"
          }
        },
        "scopeType" : "GEO"
      }, {
        "__typename" : "Typeahead_RescueResultItem",
        "documentId" : "eiffel tower",
        "text" : "eiffel tower"
      } ]
    }
  }
}

In [5]:
cycling_link = 'https://www.cycle-sos.co.uk/10-most-beautiful-cycle-routes-in-europe/'
cycling_link1 = 'https://destinations-europe.com/en/the-11-best-cities-in-europe-for-cycling/'
cycling_link2 = 'https://www.muchbetteradventures.com/magazine/best-cycling-routes-in-europe-20-of-the-most-adventurous-bike-routes/'
cycling_link3 = 'https://cycling-europe.com/'
cycling_link4 = 'https://www.theguardian.com/travel/2019/jun/08/europe-10-best-easy-cycling-holidays-routes-for-families-beginners'

In [6]:
response = requests.get(cycling_link)
response1 = requests.get(cycling_link1)
response2 = requests.get(cycling_link2)
response3 = requests.get(cycling_link3)
response4 = requests.get(cycling_link4)

In [7]:
soup = BeautifulSoup(response.content)
soup1 = BeautifulSoup(response1.content)
soup2 = BeautifulSoup(response2.content)
soup3 = BeautifulSoup(response3.content)
soup4 = BeautifulSoup(response4.content)

In [8]:
locations = soup.find_all('b')
locations

[<b>Danube Cycle Path</b>,
 <b>Romantic Road, Germany</b>,
 <b>Via Francigena, Italy</b>,
 <b>Elbe Cycle Path</b>,
 <b>Camino Frances</b>,
 <b>Tauern Cycle Trail, Austria</b>,
 <b>Iron Curtain Trail, Bulgaria</b>,
 <b>Baltic Sea Cycle</b>,
 <b>Holland Junction Network</b>,
 <b>Cornish Coastal Way, England</b>]

In [9]:
empty_list = []
for location in locations:
    empty_list.append(location.text)

empty_list

['Danube Cycle Path',
 'Romantic Road, Germany',
 'Via Francigena, Italy',
 'Elbe Cycle Path',
 'Camino Frances',
 'Tauern Cycle Trail, Austria',
 'Iron Curtain Trail, Bulgaria',
 'Baltic Sea Cycle',
 'Holland Junction Network',
 'Cornish Coastal Way, England']

In [10]:
locations11 = soup1.find_all('h2')
locations11[0:-2]

[<h2>Copenhagen | Denmark</h2>,
 <h2>Amsterdam | Netherlands</h2>,
 <h2>Utrecht | Netherlands</h2>,
 <h2>Antwerp | Belgium</h2>,
 <h2>Nantes | France</h2>,
 <h2>Strasbourg | France</h2>,
 <h2>Oslo | Norway</h2>,
 <h2>Bordeaux | France</h2>,
 <h2>Bremen | Germany</h2>,
 <h2>Paris | France</h2>,
 <h2>Helsinki | Finland</h2>]

In [11]:
empty_listlocation111 = []
for element in locations11:
    empty_listlocation111.append(element.text)

empty_listlocation111

['Copenhagen | Denmark',
 'Amsterdam | Netherlands',
 'Utrecht | Netherlands',
 'Antwerp | Belgium',
 'Nantes | France',
 'Strasbourg | France',
 'Oslo | Norway',
 'Bordeaux | France',
 'Bremen | Germany',
 'Paris | France',
 'Helsinki | Finland',
 '',
 '']

In [12]:
new_listlocation1 = []
for element in empty_listlocation111:
    new_listlocation1.append(element.replace('|', ' '))

new_listlocation1[:-2]

['Copenhagen   Denmark',
 'Amsterdam   Netherlands',
 'Utrecht   Netherlands',
 'Antwerp   Belgium',
 'Nantes   France',
 'Strasbourg   France',
 'Oslo   Norway',
 'Bordeaux   France',
 'Bremen   Germany',
 'Paris   France',
 'Helsinki   Finland']

In [13]:
new_listlocation11 =  new_listlocation1[:-2]

In [14]:
empty_list = []
for location in locations:
    empty_list.append(location.text)

empty_list

['Danube Cycle Path',
 'Romantic Road, Germany',
 'Via Francigena, Italy',
 'Elbe Cycle Path',
 'Camino Frances',
 'Tauern Cycle Trail, Austria',
 'Iron Curtain Trail, Bulgaria',
 'Baltic Sea Cycle',
 'Holland Junction Network',
 'Cornish Coastal Way, England']

In [15]:
locations2 = soup2.find_all('h3')
locations2

[<h3 id="1-cycle-the-backroads-of-albania">1. Cycle the Backroads of Albania</h3>,
 <h3 id="2-the-danube-cycle-path">2. The Danube Cycle Path</h3>,
 <h3 id="3-the-iron-curtain-gravel-trail">3. The Iron Curtain Gravel Trail</h3>,
 <h3 id="4-the-north-sea-cycle-route">4. The North Sea Cycle Route</h3>,
 <h3 id="5-fat-biking-through-the-arctic-circle">5. Fat Biking Through the Arctic Circle</h3>,
 <h3 id="6-the-green-divide-netherlands">6. The Green Divide, Netherlands</h3>,
 <h3 id="7-the-iceland-divide">7. The Iceland Divide</h3>,
 <h3 id="8-bikepacking-in-the-peak-district">8. Bikepacking in the Peak District</h3>,
 <h3 id="9-the-camino-franc-s-camino-de-santiago-">9. The Camino Francés (Camino de Santiago)</h3>,
 <h3 id="10-the-parenzana">10. The Parenzana</h3>,
 <h3 id="11-bike-touring-in-georgia">11. Bike Touring in Georgia</h3>,
 <h3 id="12-the-heckmair-transalp">12. The Heckmair Transalp</h3>,
 <h3 id="13-the-kungsleden">13. The Kungsleden</h3>,
 <h3 id="14-the-catalunya-trail">14. The Catalunya Trail</h3>,
 <h3 id="15-the-tuscany-trail">15. The Tuscany Trail</h3>,
 <h3 id="16-trans-slovenia-alp-crossing">16. Trans-Slovenia Alp Crossing </h3>,
 <h3 id="17-the-wild-atlantic-way-ireland">17. The Wild Atlantic Way, Ireland</h3>,
 <h3 id="18-the-atlantic-coast-of-portugal">18. The Atlantic Coast of Portugal</h3>,
 <h3 id="19-grand-traversee-du-massif-central">19. Grand Traversee du Massif Central</h3>,
 <h3 id="20-the-european-divide-trail">20. The European Divide Trail</h3>,
 <h3><span>More in</span> <a href="/magazine/tag/guides/">Guides</a></h3>]

In [16]:
empty_listlocation2 = []
for location in locations2:
    empty_listlocation2.append(location.text)

locations22 = empty_listlocation2[:-1]

In [17]:
import re

In [18]:
empty_listlocation2 = []
for element in locations22:
    z = re.sub('\d+\.\s','', element)
    print(z)
    empty_listlocation2.append(z)

empty_listlocation2

Cycle the Backroads of Albania
The Danube Cycle Path
The Iron Curtain Gravel Trail
The North Sea Cycle Route
Fat Biking Through the Arctic Circle
The Green Divide, Netherlands
The Iceland Divide
Bikepacking in the Peak District
The Camino Francés (Camino de Santiago)
The Parenzana
Bike Touring in Georgia
The Heckmair Transalp
The Kungsleden
The Catalunya Trail
The Tuscany Trail
Trans-Slovenia Alp Crossing
The Wild Atlantic Way, Ireland
The Atlantic Coast of Portugal
Grand Traversee du Massif Central
The European Divide Trail

['Cycle the Backroads of Albania',
 'The Danube Cycle Path',
 'The Iron Curtain Gravel Trail',
 'The North Sea Cycle Route',
 'Fat Biking Through the Arctic Circle',
 'The Green Divide, Netherlands',
 'The Iceland Divide',
 'Bikepacking in the Peak District',
 'The Camino Francés (Camino de Santiago)',
 'The Parenzana',
 'Bike Touring in Georgia',
 'The Heckmair Transalp',
 'The Kungsleden',
 'The Catalunya Trail',
 'The Tuscany Trail',
 'Trans-Slovenia Alp Crossing ',
 'The Wild Atlantic Way, Ireland',
 'The Atlantic Coast of Portugal',
 'Grand Traversee du Massif Central',
 'The European Divide Trail']

In [19]:
locations3 = soup3.find_all('span')
locations33 = locations3[7:24]

In [20]:
empty_listlocation33 = []
for element in locations33:
    empty_listlocation33.append(element.text)

empty_listlocation33

['Croatia',
 'France',
 'Germany',
 'Ireland',
 'Italy',
 'New Zealand',
 'Portugal',
 'Slovenia',
 'Spain',
 'Switzerland',
 'Regions',
 'Austria / Eastern Europe',
 'Bulgaria',
 'Baltics & Scandinavia',
 'Greece & Turkey',
 'Holland & Belgium',
 'Vietnam']

In [21]:
locations4 = soup4.find_all('h2')
locations44 = locations4[0:-2]
locations44

[<h2>Toulouse to Sète, Canal du Midi, France</h2>,
 <h2>The Danube</h2>,
 <h2>Pisa to Florence, Tuscany</h2>,
 <h2>North Zealand, Denmark</h2>,
 <h2>Black Forest, Germany</h2>,
 <h2>Istrian Coast, Italy, Slovenia &amp; Croatia</h2>,
 <h2>Amsterdam to Bruges</h2>,
 <h2>Way of the Roses, Lancashire to East Yorkshire</h2>,
 <h2>Catalonia</h2>,
 <h2>Around Lake Constance</h2>]

In [22]:
empty_listlocations444 = []
for element in locations44:
    empty_listlocations444.append(element.text)

empty_listlocations444

['Toulouse to Sète, Canal du Midi, France',
 'The Danube',
 'Pisa to Florence, Tuscany',
 'North Zealand, Denmark',
 'Black Forest, Germany',
 'Istrian Coast, Italy, Slovenia & Croatia',
 'Amsterdam to Bruges',
 'Way of the Roses, Lancashire to East Yorkshire',
 'Catalonia',
 'Around Lake Constance']

In [23]:
empty_listlocation2

['Cycle the Backroads of Albania',
 'The Danube Cycle Path',
 'The Iron Curtain Gravel Trail',
 'The North Sea Cycle Route',
 'Fat Biking Through the Arctic Circle',
 'The Green Divide, Netherlands',
 'The Iceland Divide',
 'Bikepacking in the Peak District',
 'The Camino Francés (Camino de Santiago)',
 'The Parenzana',
 'Bike Touring in Georgia',
 'The Heckmair Transalp',
 'The Kungsleden',
 'The Catalunya Trail',
 'The Tuscany Trail',
 'Trans-Slovenia Alp Crossing ',
 'The Wild Atlantic Way, Ireland',
 'The Atlantic Coast of Portugal',
 'Grand Traversee du Massif Central',
 'The European Divide Trail']

In [24]:
for country in locations:
    print(country.text)

Danube Cycle Path
Romantic Road, Germany
Via Francigena, Italy
Elbe Cycle Path
Camino Frances
Tauern Cycle Trail, Austria
Iron Curtain Trail, Bulgaria
Baltic Sea Cycle
Holland Junction Network
Cornish Coastal Way, England

In [48]:
new = []
for i in empty_list:
    if ', ' in i:
        destination = i.split(', ')[0]
        country = i.split(', ')[1]
    else:
        country = np.nan
        destination = i
    new.append({'country' : country, 'destination': destination})

pd.DataFrame(new)

    country               destination
0       NaN         Danube Cycle Path
1   Germany             Romantic Road
2     Italy            Via Francigena
3       NaN           Elbe Cycle Path
4       NaN            Camino Frances
5   Austria        Tauern Cycle Trail
6  Bulgaria        Iron Curtain Trail
7       NaN          Baltic Sea Cycle
8       NaN  Holland Junction Network
9   England       Cornish Coastal Way

In [49]:
df_location11 = pd.DataFrame(new)
df_location11

    country               destination
0       NaN         Danube Cycle Path
1   Germany             Romantic Road
2     Italy            Via Francigena
3       NaN           Elbe Cycle Path
4       NaN            Camino Frances
5   Austria        Tauern Cycle Trail
6  Bulgaria        Iron Curtain Trail
7       NaN          Baltic Sea Cycle
8       NaN  Holland Junction Network
9   England       Cornish Coastal Way

In [50]:
df_location11.iloc[0,0] = 'Germany'

In [51]:
df_location11.iloc[3,0] = 'Austria'

In [52]:
df_location11.iloc[4,0] = 'Austria'

In [53]:
df_location11.iloc[7,0] = 'England'

In [54]:
df_location11.iloc[8,0] = 'England'

In [55]:
df_location11

    country               destination
0   Germany         Danube Cycle Path
1   Germany             Romantic Road
2     Italy            Via Francigena
3   Austria           Elbe Cycle Path
4   Austria            Camino Frances
5   Austria        Tauern Cycle Trail
6  Bulgaria        Iron Curtain Trail
7   England          Baltic Sea Cycle
8   England  Holland Junction Network
9   England       Cornish Coastal Way

In [ ]:
newnew_listlocation11= pd.DataFrame({'country':new_listlocation11})
newnew_listlocation11

                    country
0      Copenhagen   Denmark
1   Amsterdam   Netherlands
2     Utrecht   Netherlands
3         Antwerp   Belgium
4           Nantes   France
5       Strasbourg   France
6             Oslo   Norway
7         Bordeaux   France
8          Bremen   Germany
9            Paris   France
10       Helsinki   Finland

In [ ]:
newnew_listlocation11 = []

for element in new_listlocation11:
    city = element.split('  ')[0]
    country = element.split('  ')[1]
    newnew_listlocation11.append({'country' : country, 'City': city})

In [ ]:
df_location20 = pd.DataFrame(newnew_listlocation11)
df_location20

         country        City
0        Denmark  Copenhagen
1    Netherlands   Amsterdam
2    Netherlands     Utrecht
3        Belgium     Antwerp
4         France      Nantes
5         France  Strasbourg
6         Norway        Oslo
7         France    Bordeaux
8        Germany      Bremen
9         France       Paris
10       Finland    Helsinki

In [35]:
df_location2 = pd.DataFrame({'destination':empty_listlocation2})
df_location2

                                destination
0            Cycle the Backroads of Albania
1                     The Danube Cycle Path
2             The Iron Curtain Gravel Trail
3                 The North Sea Cycle Route
4      Fat Biking Through the Arctic Circle
5             The Green Divide, Netherlands
6                        The Iceland Divide
7          Bikepacking in the Peak District
8   The Camino Francés (Camino de Santiago)
9                             The Parenzana
10                  Bike Touring in Georgia
11                    The Heckmair Transalp
12                           The Kungsleden
13                      The Catalunya Trail
14                        The Tuscany Trail
15             Trans-Slovenia Alp Crossing
16           The Wild Atlantic Way, Ireland
17           The Atlantic Coast of Portugal
18        Grand Traversee du Massif Central
19                The European Divide Trail

In [37]:
df_location2

                                destination
0            Cycle the Backroads of Albania
1                     The Danube Cycle Path
2             The Iron Curtain Gravel Trail
3                 The North Sea Cycle Route
4      Fat Biking Through the Arctic Circle
5             The Green Divide, Netherlands
6                        The Iceland Divide
7          Bikepacking in the Peak District
8   The Camino Francés (Camino de Santiago)
9                             The Parenzana
10                  Bike Touring in Georgia
11                    The Heckmair Transalp
12                           The Kungsleden
13                      The Catalunya Trail
14                        The Tuscany Trail
15             Trans-Slovenia Alp Crossing
16           The Wild Atlantic Way, Ireland
17           The Atlantic Coast of Portugal
18        Grand Traversee du Massif Central
19                The European Divide Trail

In [39]:
df_location2['country']= ['Albania', 'Germany','Germany', 'England', 'Norway', 'Netherlands', 'Iceland', 'England', 'France', 'Croatia', 'Georgia', 'Germany', 'Sweden', 'Spain', 'Italy', 'Slovenia', 'Ireland', 'Portugal', 'France', 'Norway', ]

In [ ]:
df_location11.iloc[4,0] = 'Austria'

In [ ]:
new4 = []
for i in empty_listlocations444:
    if ', ' in i:
        city = i.split(', ')[0]
        country = i.split(', ')[1]
    else:
        country = np.nan
        city = i
    new.append({'country' : country, 'City': city})

pd.DataFrame(new4)

Empty DataFrame
Columns: []
Index: []

In [60]:
frames = pd.concat([df_location11, df_location2], ignore_index=True)

In [62]:
final_destiantion = frames.drop_duplicates()

In [63]:
final_destiantion

        country                              destination
0       Germany                        Danube Cycle Path
1       Germany                            Romantic Road
2         Italy                           Via Francigena
3       Austria                          Elbe Cycle Path
4       Austria                           Camino Frances
5       Austria                       Tauern Cycle Trail
6      Bulgaria                       Iron Curtain Trail
7       England                         Baltic Sea Cycle
8       England                 Holland Junction Network
9       England                      Cornish Coastal Way
10      Albania           Cycle the Backroads of Albania
11      Germany                    The Danube Cycle Path
12      Germany            The Iron Curtain Gravel Trail
13      England                The North Sea Cycle Route
14       Norway     Fat Biking Through the Arctic Circle
15  Netherlands            The Green Divide, Netherlands
16      Iceland                       The Iceland Divide
17      England         Bikepacking in the Peak District
18       France  The Camino Francés (Camino de Santiago)
19      Croatia                            The Parenzana
20      Georgia                  Bike Touring in Georgia
21      Germany                    The Heckmair Transalp
22       Sweden                           The Kungsleden
23        Spain                      The Catalunya Trail
24        Italy                        The Tuscany Trail
25     Slovenia             Trans-Slovenia Alp Crossing
26      Ireland           The Wild Atlantic Way, Ireland
27     Portugal           The Atlantic Coast of Portugal
28       France        Grand Traversee du Massif Central
29       Norway                The European Divide Trail