In [3]:
import pandas as pd

In [10]:
hiking_data=pd.read_csv('hiking_data.csv')
surfing_data=pd.read_csv('surfing_data.csv')
cycling_data=pd.read_csv('cylcing_data.csv')

In [19]:
surfing_data.rename(columns={'City':'Destinations','Country':'Countries'},inplace=True)
hiking_data.rename(columns={'Activity':'Activities'},inplace=True)

In [21]:

location_df=pd.concat([hiking_data,cycling_data,surfing_data], axis=0)

In [27]:
location_df['Countries'].unique()

array(['Spain', 'France', 'Switzerland', 'Norway', 'Bulgaria', 'Iceland',
       'Scotland', 'Italy', 'Wales', 'Sweden', 'Slovenia', 'Georgia',
       'The Balkans', 'Slovakia', 'Corsica', 'Croatia', 'Montenegro',
       'Madeira', 'Poland', 'UK', 'Portugal', 'North Cap', 'Germany',
       'Greece', 'Austria', 'Romania', 'Luxembourg', 'England', 'Albania',
       'Netherlands', 'Ireland', 'Canary Islands', 'Tenerife', 'Denmark',
       'Northern Ireland'], dtype=object)

In [26]:
location_df['Countries'] = location_df['Countries'].str.replace('U.K','UK', regex=False)
location_df['Countries'] = location_df['Countries'].str.replace('UK.','UK', regex=False)
location_df['Countries'] = location_df['Countries'].str.replace('County Donegal','Ireland', regex=False)

In [39]:
print(location_df['Destinations'].shape)
location_df['Destinations'].unique()[41:81]

(174,)

array(['Three peaks', 'Kjeragbolten', 'Fairy Pools', 'Stavanger',
       'Alta Via 1', 'Kings Trail', "England's Coast to Coast",
       'Cinque Terre', 'Eagles Walk', 'Westweg', 'Camino de Santiago',
       'Circumventing Matterhorn', 'GR10', 'Hot Spring Route',
       'Central Picos Circuit', 'Transylvanian Mountain Trail',
       'Camino Dos Faros', 'Hardangervidda Transverse', 'Mullerthal',
       'Gr20', 'Hot spring route', 'Slovenian mountain trail',
       'Haute route', 'Cinque terre coastal trail', 'Eagles walk',
       'Camino de santiago', 'Westweg trail', 'West highland way',
       'Central picos circuit', 'Retezat mountains',
       'Hardangervidda transverse', 'Pennine Way',
       'Slovene Mountain Trail', 'Transcaucasian Trail',
       'Harz Border Trail', 'Hornstrandir Trail', 'Mercantour Traverse',
       'Mettelhorn', 'Danube Cycle Path', 'Romantic Road'], dtype=object)

In [38]:
location_df['Destinations'] = location_df['Destinations'].str.replace('.*Mont.Blanc.*','Mont Blanc', regex=True)    
location_df['Destinations'] = location_df['Destinations'].str.replace('.*Slovenian.Mountain.*','Slovenian Mountain', regex=True)    
location_df['Destinations'] = location_df['Destinations'].str.replace(' (Northern & Southern)','', regex=False) 
location_df['Destinations'] = location_df['Destinations'].str.replace('\s?Tour\s?','', regex=True)    
location_df['Destinations'] = location_df['Destinations'].str.replace('\w*\s?\.\s?\w*',' ', regex=True)      
location_df['Destinations'] = location_df['Destinations'].str.replace('de Monte Rosa','Monte Rosa', regex=False)
location_df['Destinations'] = location_df['Destinations'].str.replace('Mt','Mount', regex=False)
location_df['Destinations'] = location_df['Destinations'].str.replace('via','Via', regex=False)

In [41]:
location_df.to_csv(r'locations.csv')

In [45]:
location_df

      Countries           Destinations Activities
0         Spain  El Camino de Santiago     Hiking
1        France             Mont Blanc     Hiking
2   Switzerland            Haute Route     Hiking
3        Norway         Nordkalottruta     Hiking
4      Bulgaria              Kom Emine     Hiking
..          ...                    ...        ...
40      England               Staithes    Surfing
41     Portugal                 Nazaré    Surfing
42      Ireland               The Peak    Surfing
43      England            Sennen Cove    Surfing
44     Portugal             Supertubos    Surfing

[174 rows x 3 columns]