In [6]:
import re
import pandas as pd
from bs4 import BeautifulSoup
import requests
import pandas as pd

url = 'https://thepointsguy.com/guide/best-surfing-destinations-europe/#:~:text=The%209%20best%20surfing%20destinations%20in%20Europe%201,has%20a%20far-flung%20feel%20and%20some%20windy%20'

response = requests.get(url)

response


response.content

soup=BeautifulSoup(response.content)

soup

title = soup.find_all('h2')

In [7]:
surf_list= []
for i in title[:9]:
    surf_list.append(i.text)
    


surf_loc = []
for dirt in surf_list:
    z = re.sub('\d+\.\s','',dirt)
    surf_loc.append(z)
print(surf_loc)


countries = []
places = []
for i in surf_loc:
    z=i.split(', ')
    places.append(z[0])
    countries.append(z[1])



df = pd.DataFrame({'City':places,'Country':countries})
df

['Peniche, Portugal', 'Basque Country, Spain', 'Biarritz, France', 'Varazze, Italy', 'Cornwall, U.K.', 'Achill Island, Ireland', 'Halland, Sweden', 'Pomerania, Poland', 'Tinos, Greece']

             City   Country
0         Peniche  Portugal
1  Basque Country     Spain
2        Biarritz    France
3         Varazze     Italy
4        Cornwall      U.K.
5   Achill Island   Ireland
6         Halland    Sweden
7       Pomerania    Poland
8           Tinos    Greece

In [8]:
url2 = 'https://www.bestsurfdestinations.com/best-places-to-surf-in-europe/'

response = requests.get(url2)

response


response.content

soup=BeautifulSoup(response.content)

soup

title2 = soup.find_all('h2')

surf_loc2 = []
for i in title2:
    surf_loc2.append(i.text)


print(surf_loc2)

countries2 = []
places2 = []
for i in surf_loc2:
    z=i.split(', ')
    places2.append(z[0])
    countries2.append(z[1])


df2 = pd.DataFrame({'City':places2,'Country':countries2})
df2

['Godrevy Beach, England', 'Peniche, Portugal', 'Hoddevik, Norway', 'San Sebastien, Spain', 'La Gravière, France', 'Watergate Bay, England', 'Scheveningen, Netherlands', 'The Bubble, Canary Islands', 'Kolimbithra, Greece', 'Playa de las Americas, Tenerife', 'Praia da Arda, Portugal', 'Bundoran Beach, Ireland']

                     City         Country
0           Godrevy Beach         England
1                 Peniche        Portugal
2                Hoddevik          Norway
3           San Sebastien           Spain
4             La Gravière          France
5           Watergate Bay         England
6            Scheveningen     Netherlands
7              The Bubble  Canary Islands
8             Kolimbithra          Greece
9   Playa de las Americas        Tenerife
10          Praia da Arda        Portugal
11         Bundoran Beach         Ireland

In [9]:
import re
url3 = 'https://www.travelinglifestyle.net/amazing-surfing-spots-in-europe-when-to-go/'

response = requests.get(url3)

response


response.content

soup=BeautifulSoup(response.content)

soup
rule = re.compile('^h-')
title3 = soup.find_all('h2',attrs={'id': rule})

surf_loc3 = []
for i in title3:
    surf_loc3.append(i.text)

print(surf_loc3)

countries3 = []
places3 = []
for i in surf_loc3:
    z=i.split(', ')
    places3.append(z[0].capitalize())
    countries3.append(z[1])

df3 = pd.DataFrame({'City':places3,'Country':countries3})
df3

['CAPARICA, Portugal', 'PENICHE, Portugal', 'SAGRES, Portugal', 'ERICEIRA, Portugal', 'LOFOTEN, Norway', 'SAN SEBASTIAN, Spain', 'MUNDAKA, Spain', 'PLAYA DE RODILLES, Spain', 'WATERGATE BAY, England', 'SENNEN COVE, England', 'BIARRITZ, France', 'LACANAU, France', 'HOSSEGOR, France', 'KLITMØLLER, Denmark', 'THE BUBBLE, Canary Islands', 'PLAYA DE LAS AMERICAS, Tenerife', 'BUNDORAN BEACH, Ireland', 'MULLAGHMORE, County Donegal, Ireland', 'SARDINIA, Italy', 'PORTRUSH, Northern Ireland']

                     City           Country
0                Caparica          Portugal
1                 Peniche          Portugal
2                  Sagres          Portugal
3                Ericeira          Portugal
4                 Lofoten            Norway
5           San sebastian             Spain
6                 Mundaka             Spain
7       Playa de rodilles             Spain
8           Watergate bay           England
9             Sennen cove           England
10               Biarritz            France
11                Lacanau            France
12               Hossegor            France
13             Klitmøller           Denmark
14             The bubble    Canary Islands
15  Playa de las americas          Tenerife
16         Bundoran beach           Ireland
17            Mullaghmore    County Donegal
18               Sardinia             Italy
19               Portrush  Northern Ireland

In [10]:
url = 'https://www.lonelyplanet.com/articles/epic-surf-spots-europe'

response = requests.get(url)

response


response.content

soup=BeautifulSoup(response.content)

soup

title4 = soup.find_all('h2')

surf_loc4 = []
for i in title4[:9]:
    surf_loc4.append(i.text)

countries4 = []
places4 = []
for i in surf_loc4:
    z=i.split(', ')
    places4.append(z[0])
    countries4.append(z[1])

df4 = pd.DataFrame({'City':places4,'Country':countries4})
df4

          City   Country
0       Thurso  Scotland
1   Unstad Bay    Norway
2  La Gravière    France
3     Staithes   England
4       Nazaré  Portugal
5     The Peak   Ireland
6      Mundaka     Spain
7  Sennen Cove   England
8   Supertubos  Portugal

In [21]:
final_df=pd.concat([df,df2,df3,df4 ], ignore_index=True)

final_df2 =final_df.drop_duplicates()

final_df2.to_csv('final_df.csv')

In [22]:
import requests
import time
import pandas as pd

def get_id(df):


	url = "https://airbnb19.p.rapidapi.com/api/v1/searchDestination"



	querystring = {"query":df['City'],"country":df ['Country']}

	headers = {
	"X-RapidAPI-Key": "4756e43d86msh629b4ee18cb5f4cp1b8e99jsncc91f7430291",
	"X-RapidAPI-Host": "airbnb19.p.rapidapi.com"}
												

	response = requests.request("GET", url, headers=headers, params=querystring)
	time.sleep(3)


	data = response.json()
	try:
		return data['data'][0]['id']
	except:
		return df['City']

In [33]:
import requests

def get_place_info(idlist,citylist):
	li = []
	notgood = []
	for ind in range(len(idlist[0])):
		print(idlist[0][ind])
		url = "https://airbnb19.p.rapidapi.com/api/v1/searchPropertyByPlace"

		querystring = {"id":idlist[0][ind],"totalRecords":"10","currency":"EUR","adults":"1"}

		headers = {
		"X-RapidAPI-Key": "4756e43d86msh629b4ee18cb5f4cp1b8e99jsncc91f7430291",
		"X-RapidAPI-Host": "airbnb19.p.rapidapi.com"}


		response = requests.request("GET", url, headers=headers, params=querystring)
		time.sleep(3)

		data2 = response.json()
		
		try:
			for i in range(10):
				city = data2['data'][i]['city']
				rating = data2['data'][i]['avgRating']
				price = data2['data'][i]['price']

				li.append({ 'City': citylist[ind], 'Rating':rating, 'Price': price})
		except:
				notgood.append(citylist[ind])
	return pd.DataFrame(li),notgood

In [24]:
emp = []
emp.append(final_df2[:10].apply(get_id,axis=1).values)

In [25]:
emp

[array(['ChIJm2JkirBFHw0RUDaQ5L3rAAQ', 'ChIJb6xU497RTw0RPL3jSqEwgjA',
        'ChIJMx7zCisVUQ0RMKgTSBdlBgQ', 'ChIJ5U2aabEY0xIRF7RN5OI8mC0',
        'ChIJyQ4nv_C3akgRcUVL2YU8Qm4', 'ChIJ6Q4OktiZWUgRujS_C5BUMuw',
        'ChIJK_ODRKHoT0YRS8g5yI8zSmo', 'ChIJowVujNqG_UYRwMAOrTIOAgE',
        'ChIJ1TeQiubtohQRIr7w6UdoIsY',
        'EhhHb2RyZXZ5IERyaXZlLCBIYXlsZSwgVUsiLiosChQKEgmL5Rir0d1qSBFnODvRuEu9dRIUChIJ15sVHMbdakgRJDujdyp4leY'],
       dtype=object)]

In [26]:
finalids = []
finalids.append(final_df2.apply(get_id,axis=1).values)

In [28]:
finalids

[array(['ChIJm2JkirBFHw0RUDaQ5L3rAAQ', 'ChIJb6xU497RTw0RPL3jSqEwgjA',
        'ChIJMx7zCisVUQ0RMKgTSBdlBgQ', 'ChIJ5U2aabEY0xIRF7RN5OI8mC0',
        'ChIJyQ4nv_C3akgRcUVL2YU8Qm4', 'ChIJ6Q4OktiZWUgRujS_C5BUMuw',
        'ChIJK_ODRKHoT0YRS8g5yI8zSmo', 'ChIJowVujNqG_UYRwMAOrTIOAgE',
        'ChIJ1TeQiubtohQRIr7w6UdoIsY',
        'EhhHb2RyZXZ5IERyaXZlLCBIYXlsZSwgVUsiLiosChQKEgmL5Rir0d1qSBFnODvRuEu9dRIUChIJ15sVHMbdakgRJDujdyp4leY',
        'ChIJWYNKbExyF0YRB8x7e0vn6Ck', 'ChIJFf5oO_6vUQ0RSUaGlFnFPuQ',
        'La Gravière',
        'Ei1XYXRlcmdhdGUgQmF5LCBOZXdxdWF5LCBDb3Jud2FsbCwgRW5nbGFuZCwgVUsiLiosChQKEglJb9Ru1Q1rSBHlRI2CsFUQHxIUChIJqZHHQhE7WgIReiWIMkOg-MQ',
        'ChIJZVfFwZewxUcRDeGY9F3LwTE', 'The Bubble',
        'ChIJ8d8A20Z0mBQRbr2X-_hP1RU', 'ChIJ_3DrdnuXagwRHNQgjdSV5Uw',
        'ChIJj6-75-8kJ5URWIjlVEM-7Bg', 'ChIJfxY-9G39XkgR2Z9hkpx-Hzo',
        'ChIJhTpb3tbKHg0RRYkjDUnPVPM', 'ChIJdwsRx2RMGw0RtKhwSX1u48w',
        'ChIJl2_9rQ4nHw0RTKoQDGEMLHQ', 'ChIJKejz42o_3kURXTz8S2eRnGE',
        'ChIJFf5oO_6vUQ0RSUaGlFnFPuQ', 'ChIJcf9o2oE-Tg0Re3kQTx_8XvI',
        'ChIJlzWzrDANNg0RRmXYVedpDn4',
        'Ei1XYXRlcmdhdGUgQmF5LCBOZXdxdWF5LCBDb3Jud2FsbCwgRW5nbGFuZCwgVUsiLiosChQKEglJb9Ru1Q1rSBHlRI2CsFUQHxIUChIJqZHHQhE7WgIReiWIMkOg-MQ',
        'Sennen cove', 'ChIJA-BWI9asVA0RsOMWSBdlBgQ',
        'ChIJVRfk-ZdbUQ0RsT1kMVaJZM4', 'Klitmøller', 'The bubble',
        'ChIJ_3DrdnuXagwRHNQgjdSV5Uw', 'ChIJfxY-9G39XkgR2Z9hkpx-Hzo',
        'ChIJ18u0ZY3hXkgRwHkxl6nHAAo', 'ChIJHeK-0hzF3RIRYH0OyxW-CAE',
        'ChIJbdotnDIkYEgRhHYVTxemiPg', 'ChIJM7MjKi0JkEgRR6oa4UjkS6g',
        'ChIJv80FeYIL3kURWEI2FHkLHOI', 'ChIJG2mWKFMcf0gRoC2mP1Ypp1s',
        'Nazaré', 'ChIJUUblZ2sABDQRQAdalFYF10o', 'Sennen Cove',
        'Supertubos'], dtype=object)]

In [30]:
finalcity = list(final_df2['City'])
print(len(finalcity))

45

In [32]:
print(len(finalids[0]))

45

In [36]:
final , notgood= get_place_info(finalids,finalcity)
final, notgood

ChIJm2JkirBFHw0RUDaQ5L3rAAQ
ChIJb6xU497RTw0RPL3jSqEwgjA
ChIJMx7zCisVUQ0RMKgTSBdlBgQ
ChIJ5U2aabEY0xIRF7RN5OI8mC0
ChIJyQ4nv_C3akgRcUVL2YU8Qm4
ChIJ6Q4OktiZWUgRujS_C5BUMuw
ChIJK_ODRKHoT0YRS8g5yI8zSmo
ChIJowVujNqG_UYRwMAOrTIOAgE
ChIJ1TeQiubtohQRIr7w6UdoIsY
EhhHb2RyZXZ5IERyaXZlLCBIYXlsZSwgVUsiLiosChQKEgmL5Rir0d1qSBFnODvRuEu9dRIUChIJ15sVHMbdakgRJDujdyp4leY
ChIJWYNKbExyF0YRB8x7e0vn6Ck
ChIJFf5oO_6vUQ0RSUaGlFnFPuQ
La Gravière
Ei1XYXRlcmdhdGUgQmF5LCBOZXdxdWF5LCBDb3Jud2FsbCwgRW5nbGFuZCwgVUsiLiosChQKEglJb9Ru1Q1rSBHlRI2CsFUQHxIUChIJqZHHQhE7WgIReiWIMkOg-MQ
ChIJZVfFwZewxUcRDeGY9F3LwTE
The Bubble
ChIJ8d8A20Z0mBQRbr2X-_hP1RU
ChIJ_3DrdnuXagwRHNQgjdSV5Uw
ChIJj6-75-8kJ5URWIjlVEM-7Bg
ChIJfxY-9G39XkgR2Z9hkpx-Hzo
ChIJhTpb3tbKHg0RRYkjDUnPVPM
ChIJdwsRx2RMGw0RtKhwSX1u48w
ChIJl2_9rQ4nHw0RTKoQDGEMLHQ
ChIJKejz42o_3kURXTz8S2eRnGE
ChIJFf5oO_6vUQ0RSUaGlFnFPuQ
ChIJcf9o2oE-Tg0Re3kQTx_8XvI
ChIJlzWzrDANNg0RRmXYVedpDn4
Ei1XYXRlcmdhdGUgQmF5LCBOZXdxdWF5LCBDb3Jud2FsbCwgRW5nbGFuZCwgVUsiLiosChQKEglJb9Ru1Q1rSBHlRI2CsFUQHxIUChIJqZHHQhE7WgIReiWIMkOg-MQ
Sennen cove
ChIJA-BWI9asVA0RsOMWSBdlBgQ
ChIJVRfk-ZdbUQ0RsT1kMVaJZM4
Klitmøller
The bubble
ChIJ_3DrdnuXagwRHNQgjdSV5Uw
ChIJfxY-9G39XkgR2Z9hkpx-Hzo
ChIJ18u0ZY3hXkgRwHkxl6nHAAo
ChIJHeK-0hzF3RIRYH0OyxW-CAE
ChIJbdotnDIkYEgRhHYVTxemiPg
ChIJM7MjKi0JkEgRR6oa4UjkS6g
ChIJv80FeYIL3kURWEI2FHkLHOI
ChIJG2mWKFMcf0gRoC2mP1Ypp1s
Nazaré
ChIJUUblZ2sABDQRQAdalFYF10o
Sennen Cove
Supertubos

(Empty DataFrame
 Columns: []
 Index: [],
 ['Peniche',
  'Basque Country',
  'Biarritz',
  'Varazze',
  'Cornwall',
  'Achill Island',
  'Halland',
  'Pomerania',
  'Tinos',
  'Godrevy Beach',
  'Hoddevik',
  'San Sebastien',
  'La Gravière',
  'Watergate Bay',
  'Scheveningen',
  'The Bubble',
  'Kolimbithra',
  'Playa de las Americas',
  'Praia da Arda',
  'Bundoran Beach',
  'Caparica',
  'Sagres',
  'Ericeira',
  'Lofoten',
  'San sebastian',
  'Mundaka',
  'Playa de rodilles',
  'Watergate bay',
  'Sennen cove',
  'Lacanau',
  'Hossegor',
  'Klitmøller',
  'The bubble',
  'Playa de las americas',
  'Bundoran beach',
  'Mullaghmore',
  'Sardinia',
  'Portrush',
  'Thurso',
  'Unstad Bay',
  'Staithes',
  'Nazaré',
  'The Peak',
  'Sennen Cove',
  'Supertubos'])